* {
  font-size: 14px;
  font-family: "Open Sans";
}

nav {
  font-size: 1.1rem;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.featured-project h3,
.categories h4,
.projects h3 {
  background-color: inherit;
  color: #399bd1;
}

nav,
h3,
h4,
footer h3 {
  font-weight: bold;
}

img {
  width: 100%;
}

.jumbotron {
  padding: 15.85rem 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000,
               1px -1px 0 #000,
               -1px 1px 0 #000,
               1px 1px 0 #000;
  height: 62rem;
}

.jumbotron h1 {
  font-family: "Monoton";
  font-size: 10.1rem;
}

.jumbotron h1,
.jumbotron p {
  margin: auto;

}

.jumbotron p {
  max-width: 71.3rem;
  padding-top: 2.5rem;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

.jumbotron-beer {
  background-image: url("../images/jumbotron-beer.jpg");
}

.jumbotron-flowers {
  background-image: url("../images/jumbotron-flowers.jpg");
}

.jumbotron-duffel {
  background-image: url("../images/jumbotron-duffel.jpg");
}

.relative-wrapper {
  position: relative;
  top: -25rem;
  width: 100%;
  text-align: center;
}

.btn-primary {
  margin-top: 2.8rem;
  padding: 1.3rem 0;
  width: 11.4rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.btn-primary,
.btn-primary:hover {
  background-color: #399bd1;
}

.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn-primary:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.slick-slide {
  outline: none;
}

.featured-project {
  padding-bottom: 20px;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: transform .5s,
              opacity .5s;
  transition: transform .5s,
              opacity .5s;
}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.3);
}

.featured-project h4 {
  font-size: 1.3rem;
}

.categories span {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}

.featured-project,
.projects {
  font-size: 1.7rem;
}

.projects {
  padding-bottom: 5.85rem;
}

footer {
  background-color: #f3f3f3;
  padding: 5.2rem 0;
  text-align: center;
}

footer h3 {
  padding-bottom: 1.4rem;
}

footer h3 strong {
  font-size: 2.5rem;
}

footer h3,
footer p {
  margin: auto;
}

footer p {
  width: 42rem;
  padding-bottom: 2.8rem;
}

@media only screen and (max-width: 767px) {
  .jumbotron h1 {
    font-size: 5.7rem;
  }
}
